#txt1, .In {
	text-align:center;
	font-size: 30px;
}

.button-0{
	left:700px;
	width: 160px;
	height:50px;
	cursor:pointer;
	position:absolute;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;  
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.button-0:hover, 
.button-0:focus {
    text-decoration: none;
    color: #fff;
}
.button-0:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#firstNum{
	float:left;
	background-color: #1C9700;
	width:1000px;
	height:200px;
}
#TopDiv{
	margin: 0px auto;
	width:1600px;
	height: 300px;
	position: relative;
	background-color: #DDD;
	text-align:center;
}

#InputDiv {
	position: absolute;
	height: 200px;
	width: 600px;
	background-color: #4C9900;
}

#MainDiv{
  	width: 1600px;
 	height: 1000px;
  	margin: 0px auto;
  	margin-top: 20px;
  	position: relative;
  	font-family: "PT Sans";
  	font-size: 20px;
  	font-weight: bold;
  	text-align: center;
  	overflow: hidden;
  	background-color:red;
}

#d1{
	position: absolute;
	width:22px;
	height:22px;
	padding: 10px;
	font-family: "PT Sans"; 
	background-color: yellow;
}

#divider{
	position:absolute;
	width:1560px;
	height:5px;
	background-color:black;
}